.background{
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  position:relative;
}

#projectImg {
  margin: 20px;
}

#projectText p{
  font-size: 25px;
}

#projectText{
  max-width: 500px;
}

#projectText h2{
  font-size: 40px;
}

.background::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0, 0, 0, 0.479);
}

.title {
  text-align: center;
}
.title h2{
  color: white;
  position:absolute;
  top:250px;
  left:0;
  right:0;
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 500;
}

h1{
  margin: 20px;
}

.PeopleCards{
  align-items: center;
  margin: 100px 40px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media(max-width: 769px){
  .PeopleCards{
    grid-template-columns: 1fr;
  }
}

.LeashInfo{
  align-items: center;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
  max-width: 1500px;
  margin: 0 auto;
}

.AboutUs{
  text-align: center;
  margin: 0 auto;
}

.PeopleInfo{
text-align: center;
margin: 0 auto;
}

.PeopleInfo p{
  max-width: 1000px;
  font-size: 25px;
}

h3{
  margin-top: 40px;
}

@media(max-width: 769px){
  .ValhallaInfo{
    grid-template-columns: 1fr;
  }
}

ul{
  max-width: 500px;
  margin: 0 auto;
}